[submodule ".\\site-lisp\\phpactor.el"]
	path = .\\site-lisp\\phpactor.el
	url = https://github.com/martango/phpactor.el
[submodule "site-lisp/flycheck-phanclient"]
	path = site-lisp/flycheck-phanclient
	url = https://github.com/martango/flycheck-phanclient
